#circle {
    background-color: hotpink;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left:200px;
    transition-timing-function: ease-out;
    -webkit-animation: turnBlueAndFallDown 3s infinite;
    
    
}


@-webkit-keyframes turnBlueAndFallDown {
    
    0% {
        
        transform: translate(0px,0px);
    
    }
    
    10% {
        
        transform: translate(0px,400px);
        background-color: gray;
    
    }
    20%{
        
        transform: translate(50px,30px);
    }
    
    30% {
        
        transform: translate(100px,400px);
        background-color: gray;
    
    }
    
     40% {
        
        transform: translate(200px,0px);
    
    }
    
     50% {
        
        transform: translate(300px,400px);
        background-color: gray;
    
    }
    
    100% {
        
        transform: translate(620px,400px);
    
    }
  
}